@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* Aqui vamos definir as variáveis do projeto */

:root { /* Raiz do projeto */

    /* Variável de Cor */
    --primary: #BC002D;
    --secondary: #FFB7C5;
    --tertiary: #4A4A4A;
    --light: #F9F9F9;
    --dark: #1E1E1E;
    /* Qualquer valor que precisa repetir muitas vezes, podemos criar como uma variável */


    /* Variável de Fonte - Títulos */

    /* BOAS PRÁTICAS: Caso não carregar a fonte Noto Serif para o usuário, tem a opção de uma 2ª fonte. Caso mesmo assim não carregar, temos uma 3ª fonte (como reserva) */
    --title: 'Noto Serif', Trebuchet MS, sans-serif;
    --title-size: 46px; 

    /* Variável de Fonte - Textos */
    --text: 'Monstserrat', Roboto, Calibri;
    --text-size: 18px; 
}
